body, div {
	margin: 0;
    padding: 0;
}

#background {
	background: url("images/bg.jpg") no-repeat;
	/*z-index:-1;*/
}

#layer1 {
	background: url("images/text.png");
}

#layer2 {
	background: url("images/line.png")
}

#layer3 {
	background: url("images/text_designer.png");
}

#menu {
	position: fixed;
	left: -100px;
	width: 117px;
	background: #f3f315;
	height: 100%;
	text-align: left;
	z-index: 5;
}

#menu_content, #menu_content_hidden {
	position: absolute;
	top: 260px;
	background-position: top right;
	height: 300px;
	width: 117px;
}

#menu_content_hidden {
	background: url("images/menu_sm.png") no-repeat;
	background-position: top right;
}

#menu_content {
	display: none;
	background: url("images/menu_big.png") no-repeat;
}

#layer1, #layer2, #layer3 {
	display: none;
}

#background, #layer1, #layer2, #layer3 {	
	background-position: center;
	position: absolute;
	width: 100%;
	height: 800px;
}

#part1 {
	z-index: -1;
}

#part2 {
    position: absolute;
    top: 800px;
    width: 100%;
    height: 800px;    
}

#part3 {
    background:black;
    position: absolute;
    top: 1570px;
    width: 1920px;
    height: 800px;  
    z-index: -1;  
}

#part4 {
    background: #ffffff;
    position: absolute;
    top: 2370px;
    width: 1920px;
    height: 800px;  
    z-index: -1;  
}

#line {
	background: url("images/line_1.jpg") center;
	position: absolute;
	width: 407px;
    height: 3px;

}
#line_2 {
	background: url("images/line_2.jpg") center;
	position: absolute;
	width: 59px;
    height: 3px;
}
.background, .content, .full .page1, .page2, .page3, .page4, .page5, .page6, .page7, .page8, .page9{
    position: absolute;
    width: 100%;
    height: 100%;
}

#work1 .background  { background: url("images/tr_1.png") center no-repeat; }
#work1 .content     { background: url("images/port_1.png") center; }
#work1 .full 		{ display: none;}
#work1 .full .page1 { background: url("images/work_1_1.jpg") center no-repeat; }
#work1 .full .page2 { display: none; background: url("images/work_1_2.jpg") center no-repeat; }
#work1 .full .page3 { display: none; background: url("images/work_1_3.jpg") center no-repeat; }
#work1 .full .page4 { display: none; background: url("images/work_1_4.jpg") center no-repeat; }
#work1 .full .page5 { display: none; background: url("images/work_1_5.jpg") center no-repeat; }
#work1 .full .page6 { display: none; background: url("images/work_1_6.jpg") center no-repeat; }
#work1 .full .page7 { display: none; background: url("images/work_1_7.jpg") center no-repeat; }
#work1 .full .page8 { display: none; background: url("images/work_1_8.jpg") center no-repeat; }
#work1 .full .page9 { display: none; background: url("images/work_1_9.jpg") center no-repeat; }


#work2 				{ display: none }
#work2 .background  { background: url("images/tr_2.png") center; }
#work2 .content     { background: url("images/port_2.png") center; }
#work2 .full 		{ display: none;}
#work2 .full .page1 { background: url("images/work_2_1.jpg") center no-repeat; }
#work2 .full .page2 { background: url("images/work_2_2.jpg") center no-repeat; }
#work2 .full .page3 { background: url("images/work_2_3.jpg") center no-repeat; }
#work2 .full .page4 { background: url("images/work_2_4.jpg") center no-repeat; }
#work2 .full .page5 { background: url("images/work_2_5.jpg") center no-repeat; }
#work2 .full .page6 { background: url("images/work_2_6.jpg") center no-repeat; }
#work2 .full .page7 { background: url("images/work_2_7.jpg") center no-repeat; }

#work3				{ display: none }
#work3 .background  { background: url("images/tr_3.png") center; }
#work3 .content     { background: url("images/port_3.png") center; }

#grid  .background  { top: -19px; height: 819px; background: url("images/bg_grid_2.png") top; }

#clickable {
	position: absolute;
	margin-left: 50%;
	left: -462px;
	width: 924px;
	height: 352px;
}

#controls {
	position: absolute;
	margin-left: 50%;
	top: 261px;
	left: -598px;
	width: 1195px;
	height: 352px;
}

#controls .previous {
    background: url("images/arrow_left_0.png") center no-repeat;
    position: absolute;
    left: 0px;
    width: 25px;
    height: 100%;
}
#controls .next {
    background: url("images/arrow_right_0.png") center no-repeat;
    position: absolute;
    right: 0px;
    width: 25px;
    height: 100%;
}

#work_controls {
	position: absolute;
	display: none;
	margin-left: 50%;
	left: -500px;
	width: 1183px;
	height: 800px;
}

#work_controls .previous {
    background: url("images/arrow_left.png") center no-repeat;
    position: absolute;
    top: 38px;
    left: -117px;
    width: 65px;
    height: 100%;
}

#work_controls .next {
    background: url("images/arrow_right.png") center no-repeat;
    position: absolute;
    top: 38px;
    right: 72px;
    width: 65px;
    height: 100%;
}

#close {
    background: url("images/close_x.png") center no-repeat;
    position: absolute;
    top: -330px;
    left: 470px;
    width: 65px;
    height: 100%;
}

.progress {
	background: black;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 590px;
	height: 5px;
}

.progress .current {
	position: absolute;
	background: #f3f315;
	height: 100%;
	width: 59px;
}