body, div, section {
	margin: 0;
    padding: 0;
    font-family: "Quicksand"
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: line-through;
	color: white;
	font-style: italic;
	background-color: black;
}

#background {
	background: url("images/bg.jpg") no-repeat;
	/*z-index:-1;*/
}

#layer1 {
	background: url("images/text.png");
}

#layer2 {
	background: url("images/line.png")
}

#layer3 {
	background: url("images/text_designer.png");
}

@font-face {
   font-family: Quicksand;
   font-weight: lighter;
   src: local("Quicksand Light"),
   url(fonts/Quicksand_Light.otf);
}
@font-face {
   font-family: Quicksand;
   font-weight: normal;
   src: local("Quicksand Book"),
   url(fonts/Quicksand_Book.otf);
}

@font-face {
   font-family: Quicksand;
   font-weight: bold;
   src: local("Quicksand Bold"),
   url(fonts/Quicksand_Bold.otf);
}

@font-face {
   font-family: OratorStd;
   font-weight: normal;
   src: local("Orator Std"),
   url(fonts/OratorStd.otf);
}

#menu ul {
	margin: 0;
	padding: 1em;
	list-style-type: none;
}

#menu li {
	margin-left: 0;
	display: block;
	padding: 0.2em;
}

#menu a {
	font-size: 16px;
	width: 50px;
	display: block;
}

#menu a:hover {
	text-decoration: line-through;
	background: none;
	color: black;
}

#menu {
	position: fixed;
	background: url("images/menu.png");
	left:0px;
	top:0px;
	width: 210px;
	height: 153px;
	z-index: 5;
}

#layer1, #layer2, #layer3 {
	display: none;
}

#background, #layer1, #layer2, #layer3 {	
	background-position: center;
	position: absolute;
	width: 100%;
	height: 800px;
}

#intro {
	position: relative;
	z-index: -1;
	height: 800px;
}

#works {
    position: relative;
    width: 100%;
    height: 800px;    
}

#skills {
    background: black;
    position: relative;
    width: 100%;
    height: 800px;
}

#about {
    position: relative;
    width: 100%;
}

.preview, .preview .background, .preview .content, .full .page {
	position: absolute;
	height: 100%;
	width: 100%;
}

.preview .background {
	z-index: -1;
}

.full {
	display: none;
}

#grid {
	position: absolute;
	top: -19px; 
	height: 819px;
	width: 100%;
	background: url("images/bg_grid_2.png") top; 
}

#clickable {
	position: absolute;
	margin-left: 50%;
	left: -462px;
	width: 924px;
	height: 352px;
}

#controls {
	position: absolute;
	margin-left: 50%;
	top: 241px;
	left: -588px;
	width: 1175px;
	height: 352px;
}

#controls .previous {
    background: url("images/arrow_left_0.png") center no-repeat;
    position: absolute;
    left: 0px;
    width: 78px;
    height: 100%;
}

#controls .next {
    background: url("images/arrow_right_0.png") center no-repeat;
    position: absolute;
    right: 0px;
    width: 78px;
    height: 100%;
}

#work_controls {
	position: absolute;
	display: none;
	margin-left: 50%;
	left: -500px;
	width: 1183px;
	height: 800px;
}

#work_controls .previous {
    background: url("images/arrow_left_0.png") center no-repeat;
    position: absolute;
    left: -117px;
    width: 78px;
    height: 100%;
}

#work_controls .next {
    background: url("images/arrow_right_0.png") center no-repeat;
    position: absolute;
    right: 72px;
    width: 78px;
    height: 100%;
}

#close {
    background: url("images/close_x.png") center no-repeat;
    position: absolute;
    top: -320px;
    left: 459px;
    width: 79px;
    height: 100%;
}

.progress {
	z-index: 2;
	background: black;
	position: absolute;
	bottom: 17px;
	left: 238px;
	height: 5px;
}

.progress .current {
	position: absolute;
	background: #f3f315;
	height: 100%;
	width: 58px;
}