body, div, section, footer {
	margin: 0;
    padding: 0;
    font-family: "Quicksand"
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: line-through;
	color: white;
	font-style: italic;
	background-color: black;
}

#iwould { padding-top: 3em }

#iwould, #goodgirl {
    font-size: 68pt;
    font-family: "Quicksand Light";
    font-style: italic;
}

#whoami {
    display: inline-block;
    position: relative;
}

#goodgirl { position: relative; }

#digitaldesigner {
    position: absolute;
    top: -0.2em;
    font-size: 26pt;
    font-style: normal;
    padding: 1em 0.5em 1em 0.5em;
    white-space: nowrap;
    display: none;
}

#strike {
    position: absolute;
    border-bottom: 1px solid #f3f315;
    top: 50%;
    width: 102%;
    display: none;
}

#ifyou {
    font-family: Arial;
    text-transform: uppercase;
    font-size: 68pt;
    color: #f3f315;
}

@font-face {
   font-family: Quicksand;
   font-weight: normal;
   src: local("Quicksand Book"),
   url(fonts/Quicksand_Book.otf);
}

@font-face {
   font-family: Quicksand;
   font-weight: bold;
   src: local("Quicksand Bold"),
   url(fonts/Quicksand_Bold.otf);
}

@font-face {
   font-family: "Quicksand Light";
   src: local("Quicksand Light"),
   url(fonts/Quicksand_Light.otf);
}

@font-face {
   font-family: OratorStd;
   font-weight: normal;
   src: local("Orator Std"),
   url(fonts/OratorStd.otf);
}

#menu ul {
	margin: 0;
	padding: 1em;
	list-style-type: none;
}

#menu li {
	margin-left: 0;
	display: block;
	padding: 0.2em;
}

#menu a {
	font-size: 13pt;
	width: 50px;
	display: block;
}

#menu a:hover {
	text-decoration: line-through;
	background: none;
	color: black;
}

#menu {
	position: fixed;
	background: url("images/menu.png") no-repeat center;
	width: 210px;
	height: 153px;
	z-index: 5;
}

#intro {
    background: url("images/bg.jpg") no-repeat center;
    position: relative;
    text-align: center;
    z-index: -1;
    height: 800px;
}

#works {
    position: relative;
    width: 100%;
    height: 800px;    
}

#skills {
	background: url("images/skills_bg.jpg") center repeat-x;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 800px;
    vertical-align: top;
}

#skills .container {
    width: 1600px;
    margin: 0 auto;
}

.label {
	background-color: #000000;
	font-family: OratorStd;
	font-size: 13pt;
	color: #f3f315;
	text-align: center;
	padding: 6px 15px 5px 15px;
	letter-spacing: 0.2em;
	border: red 1px;
}

#skills .quote {
	float: left;
	clear: both;
	margin: 3em 0 0 10em;
	width: 20em;
	padding: 1em;
}

#adobe {
	background: url("images/adobe.png");
	position: relative;
	display: inline-block;
	float: left;
	clear: both;
	width: 684px;
    height: 196px;
	font-size: 13pt;
	margin: 2em 0 2em 10em;
}

#adobe div {
	position: absolute;
}

#adobe_ph { top: 175px; left: 110px;}
#adobe_il { top: 175px; left: 230px;}
#adobe_fl { top: 175px; left: 345px;}
#adobe_ae { top: 175px; left: 460px;}
#adobe_id { top: 175px; left: 520px;}

#make_me {
	background: url("images/make_me.png") center no-repeat;
	position: relative;
	display: inline-block;
	float: left;
	clear: left;
	vertical-align: top;
	width: 450px;
    height: 350px;
    font-size: 13pt;
    margin-left: 10em;
}

#make_me div {
	position: absolute;
}

#make_me p {
	padding: 5px 0 0 0;
	margin: 0;
	font-size: 10pt;
}

#make_me_html { top: 252px; left: 37px; }
#make_me_js   { top: 90px;  left: 247px; }
#make_me_tech { top: 252px; left: 325px; }

#timelapse {
	position: relative;
	display: inline-block;
	vertical-align: text-top;
	float: left;
	clear: right;
	background: url("images/timelapse.png") center no-repeat;
	width: 530px;
    height: 365px;
    font-size: 11pt;
    margin-left: 2em;
}

#timelapse div {
	position: absolute;
}

#timelapse_multimedia { top: 274px; left: 2px; }
#timelapse_concept { top: 45px; left: 82px; }
#timelapse_art { top: 96px; left: 266px; }
#timelapse_print { top: 280px; left: 350px; }
#timelapse_ui { top: 115px; left: 436px; }

#about {
    background: url("images/about_bg.jpg") 50% 100% no-repeat;
    background-color: #f9f9f9;
    position: relative;
    width: 100%;
    text-align: center;
}

#about .quote {
	width: 16em;
	margin: 3em;
}

.preview, .preview .background, .preview .background2, .full .page {
	position: absolute;
	height: 100%;
	width: 100%;
}

.preview .background {
	z-index: -1;
}

.full {
	display: none;
}

.preview {
    text-align: center;
    background-position: center;
}

.preview .type {
    position: absolute;
    left: -430px;
    top: 0px;
    background: black;
    color: #f3f315;
}

.preview .name {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18pt;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin: 1em 0 1em 0;
}

.preview .description {
    font-style: italic;
}

.preview .quote {
    margin: 3em;
}

.preview .content {
    display: inline-block;
    position: relative; 
    text-align: left;
    left: 150px;
    top: 300px;
    height: 250px; 
    width: 350px;
}

#grid {
	position: absolute;
	top: -19px;
	height: 819px;
	width: 100%;
	background: url("images/grid.png") top repeat-x;
}

#clickable {
	position: absolute;
	margin-left: 50%;
	left: -462px;
	width: 924px;
	height: 352px;
}

#controls {
	position: absolute;
	margin-left: 50%;
	top: 241px;
	left: -588px;
	width: 1175px;
	height: 352px;
}

#controls .previous {
    background: url("images/arrow_left_0.png") center no-repeat;
    position: absolute;
    left: 0px;
    width: 78px;
    height: 100%;
}

#controls .next {
    background: url("images/arrow_right_0.png") center no-repeat;
    position: absolute;
    right: 0px;
    width: 78px;
    height: 100%;
}

#work_controls {
	position: absolute;
	display: none;
	margin-left: 50%;
	left: -500px;
	width: 1183px;
	height: 800px;
}

#work_controls .previous {
    background: url("images/arrow_left_0.png") center no-repeat;
    position: absolute;
    left: -117px;
    width: 78px;
    height: 100%;
}

#work_controls .next {
    background: url("images/arrow_right_0.png") center no-repeat;
    position: absolute;
    right: 72px;
    width: 78px;
    height: 100%;
}

#close {
    background: url("images/close_x.png") center no-repeat;
    position: absolute;
    top: -320px;
    left: 459px;
    width: 79px;
    height: 100%;
}

.progress {
	z-index: 2;
	background: black;
	position: absolute;
	bottom: 17px;
	left: 238px;
	height: 5px;
}

.progress .current {
	position: absolute;
	background: #f3f315;
	height: 100%;
	width: 58px;
}

#text_about {
	width: 800px;
	word-wrap: normal;
	margin: 0 auto;
}

#hello {
	color: #f3f315;
	text-transform: uppercase;
	font-family: Arial;
	font-size: 80pt;
	margin-bottom: 20px;
}

a#button {
	text-transform: uppercase;
	font-size: 17px;
	border: 1px solid;
	padding: 1em 2em;
	margin: 3em;
	display: inline-block;
}

h1 {
	font-size: 16px;
	line-height: 19px;
	text-transform: uppercase;
	font-weight: bold;
	color: #575757;
	text-align: left;
	margin: 3.5em;
}

#text_about p {
	font-size: 16px;
	line-height: 19px;
	color: #575757;
	text-align: left;
	margin: 1.5em;
}

.quote_left_bracket, .quote_right_bracket { position: absolute; width: 10px; height: 10px; }
.quote_left_bracket { border-top: 1px solid; border-left: 1px solid; top: 0; left: 0; }
.quote_right_bracket { border-bottom: 1px solid; border-right: 1px solid; bottom: 0; right: 0; }

.quote {
	position: relative;
	display: inline-block;
	padding: 1em;
	font-size: 10pt;
	text-align: left;
}

.quote_title {
	margin: 0.5em 0;
	display: inline-block;
	font-size: 18pt;
	border-bottom: 1px solid black;
	text-transform: uppercase;
	font-weight: bold;
}

.quote_text {
	line-height: 16px;
	color: #575757;
	margin: 0;
}

.quote_author {
	margin-top: 0.7em;
	font-style: italic;
}

footer {
	background: #f3f315;
	bottom: 0;
	position: relative;
	padding-top: 1em;
	padding-bottom: 0.6em;
	width: 100%;
}
